<h1>Companies</h1>
<p><%= display_errors(@companies) %></p>
<ol id="companies">

</ol>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    fetch('/companies.json')
    .then(response => response.json())
    .then(json => updateList(json));

    let updateList = (json) => {
      const list = document.getElementById("companies");

      json.forEach( company => {
        const companyObj = new Company(company.id, company.name, company.description, (company.user == null ? null : company.user.id), ((company.user == null ? null : company.user.name)), company.numOfBreakthroughs);
        list.innerHTML += (companyObj.indexPageListItem());
      });
    }
  })
</script>
