<h1>Companies</h1>
<p><%= display_errors(@companies) %></p>
<ol id="companies">
  <% if false %>
    <% @companies.each do |company| %>
      <li><%= link_to company.name, company %> - Major Breakthroughs: <%= company.technology_breakthroughs_count %></li>
      <p>by <%= author_link(company) %></p>
    <% end %>
  <% end %>
</ol>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    let companyList = [];

    let xhr = new XMLHttpRequest(),
        method = "GET",
        url = "/companies.json";

    xhr.open(method, url, true);
    xhr.onreadystatechange = function () {
      console.log(xhr.response);
      var data = JSON.parse(xhr.response);
      data.forEach(function (company) {
        companyList.push(
          new Company(company.id, company.name, company.description, company.user_id)
        )
      })

    }
    xhr.send();
    companyList.join(" ");
    let list = document.getElementById("companies");
    list.innerText = companyList;
  })
</script>
