<h2>Submit a new company</h2>
<% if @company.errors.any? %>
  <div class="error_explanation">
    <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= render partial: 'form', locals: { company: @company } %>
</div>
